.Weather {
  background-color: white;
  font-family: "Manrope", sans-serif;
  color: #80347d;
  border-radius: 4px;
  padding: 20px;
}
.col-9 {
  padding: 0 0 0 12px;
}
.col-3 {
  padding: 0 12px 0 0;
}
.form-search {
  color: white;
  background-color: #ad6daa;
  border: none;
  border-radius: 50px 0 0 50px;
}
.form-search:hover {
  color: #80347d;
  background-color: white;
}
.form-button {
  color: white;
  border: none;
  background-color: #80347d;
  padding: 6px 12px;
  border-radius: 0 50px 50px 0;
  transition: all 200ms ease-in;
}
.form-button:hover {
  color: white;
  background-color: #ad6daa;
}

.Weather h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 3px 0;
}
.Weather h2 {
  font-size: 16px;
  font-weight: light;
}

.Weather ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: 200;
}
.Weather .temperature {
  font-weight: 400;
  color: #80347d;
  font-size: 64px;
}
.weather-temperature img {
  width: 100px;
  height: 100px;
}

.loading {
  color: white;
}
